<!DOCTYPE html>
<html>

  <head>
    <title>Robot World</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>Robot World</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/robots">All Robots</a></li>
          <li><a href="/robots/new">Submit New Robot</a></li>
          <li><a href="/">Dashboard</a></li>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
