<!DOCTYPE html>
<html>

  <head>
    <title>Robot World</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
