<form action="/robots" method="post">
  <p>Tell me about yourself, robot friend:</p>
  <p>Name:</p>
  <input type='text' name='robot[name]'><br>
  <p>City:</p>
  <input type='text' name='robot[city]'><br>
  <p>State:</p>
  <input type='text' name='robot[state]'><br>
  <p>Birthdate:</p>
  <input type='date' name='robot[birthdate]'><br>
  <p>Date Hired:</p>
  <input type='date' name='robot[date_hired]'><br>
  <p>Department</p>
  <input type='text' name='robot[department]'>
  <input value='submit' type='submit'>
</form>
